* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  font-family: 'Kanit', sans-serif;
  font-family: 'Sriracha', cursive;
}

html {
  height: 100%;
}

i {
  transition: 0.5s;
}

div {
  display: block;
}


/********** General CSS **********************************************************************************/
body {
  color: #353535;
  font-weight: 400;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: #E47A2E;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #353535;
  outline: none;
  text-decoration: none;
}

p {
  color: #353535;
  padding: 0;
  margin: 0 0 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #353535;
  margin: 0 0 15px 0;
  padding: 0;
}

.back-to-top{
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  background: #353535;
  color: #ffffff;
  border: none;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
}

.back-to-top:hover {
  background: #E47A2E;
}

/********* Headline  *************************************************************************************/
.border-headline {
  padding: 10px;
  text-align: left;
  margin-right: auto;
  padding-left: 200px;
  padding-top: 50px;
  background-color: #b1b7f3;
}
.border-headline h1 {
  /* color: rgb(112, 104, 223); */
  color: rgb(241, 240, 255);
  /* color: #ffa86f; */
  text-shadow: rgb(112, 104, 223) 3px 1px;
}



/********* Top Header  ***********************************************************************************/
.top-header {
  padding: 15px 0;
  /* background: #656ba0; */
  background: rgb(112, 104, 223);
  display: flex;
  justify-content:center ;
  align-items: center;
  flex: 0 0 auto;
}

.login-btn .btn{
  background-color: rgb(112, 104, 223);
  border: none;
  color: white;
  height: 40px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #b1b7f3;
}
.login-btn .btn:hover{
  background-color: white;
  color: rgb(112, 104, 223);
}
.top-header .logo {
  text-align: center;
  overflow: hidden;
}

.top-header .logo a img {
  max-width: 150px;
  max-height: auto;
}

.top-header .social {
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;
  text-align: right;
}

.top-header .social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 1px 0;
  text-align: center;
  font-size: 22px;
  border: 1px solid white;
}

.top-header .social a:hover {
  background: #E47A2E;
  border: 1px solid #E47A2E;
}

.top-header .social a i {
  /* color: #353535; */
  color: #ffffff;
}

.top-header .social a:hover i {
  color: #ffffff;
}

@media (min-width: 1080px) {
  .top-header {
      max-height: 10%;
  }
}

@media (max-width: 1080px) {
  .top-header .logo,
  .top-header .search,
  .top-header .social {
      text-align: center;
      margin-bottom: 15px;
  }
  
  .top-header .social {
      margin-bottom: 0;
  }
}
/********* Header Nav CSS ********************************************************************************/
.header {
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.header.header-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header .navbar {
  height: 100%;
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 10px 8px 10px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  background: rgba(228, 122, 46, .2);
  border-bottom: 2px solid #E47A2E;
  transition: none;
}

.header .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

@media (min-width: 768px) {
  .header,
  .header .navbar {
      background: #353535 !important;
  }
  
  .header .navbar-brand {
      display: none;
  }
  
  .header a.nav-link {
      padding: 8px 15px;
      font-size: 15px;
      text-transform: uppercase;
  }
}

@media (max-width: 768px) {   
  .header,
  .header .navbar {
      background: #333333 !important;
  }
  
  .header a.nav-link {
      padding: 5px;
  }
  
  .header .dropdown-menu {
      box-shadow: none;
  }
  
  .dropdown-menu li:hover {
    background-color: #E47A2E;
  }
}

/********** Main Content Container **************************************************************************/
.main-content {
  background: white;
  flex: 1 0 auto;
  padding-top: 40px;
  background-color: #b1b7f3;
}

/********** Live Content Container **************************************************************************/
.border-headline {
  width: 100%;
  /* border: 2px solid pink; */
  background-image: linear-gradient( #8189ea,#9fa5ea,#b1b7f3);
}
.live-icon {
  text-align: center;
  margin-right: auto;
  /* padding-left: 500px; */
  width: 125px;
  filter: drop-shadow(8px 8px 10px rgb(112, 104, 223));
  -webkit-filter: drop-shadow(5px 1px 10px rgb(112, 104, 223));
}
.live-headline{
  /* border: 2px solid black; */
  margin-left: 10%;
  width: 20%;
  height: 100px;
  margin-top: -20px;
}
.border-screen {
  width: 100%;
  background-color: #b1b7f3; 
  background-image: linear-gradient( #b1b7f3,white,white);
  position: relative;
  padding-bottom: 170px;
}
.border-screen iframe {
  width: 40%;
  min-height: 340px;
  margin-left: 30%;
  background-color: black; 
  border-radius: 16px;
}

/********** index page ******************************************************************************/

.LogoNetworkToday {
  margin-top: 50px;
  background-color: #E47A2E;
  /* background-color: #656ba0; */
  /* background-image: linear-gradient(rgb(112, 104, 223), rgb(112, 104, 223),white,#E47A2E); */
  width: 100%;
  height: 75px;
  padding-left: 5%;
}

.LogoNetworkToday img{
  width: 225px;
  /* border: 1px solid #111111; */
  margin-top: -75px;
}

.top-news {
  position: relative;
  width: 100%;
  padding: 30px 0 0 0;
  background-image: linear-gradient( rgb(112, 104, 223),white,white,white);
}

.top-news .col-md-6 {
  margin-bottom: 30px;
  
}

.top-news .tn-img {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.top-news .tn-img img {
  width: 100%;
  
}

.top-news .tn-img:hover img {
  filter: drop-shadow(8px 8px 10px gray);
  -webkit-filter: drop-shadow(8px 8px 10px gray);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.top-news .tn-content {
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0; 
  left: 0;
  padding: 15px 10px 15px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
  display: flex;
  align-items: flex-end;
  
}

.top-news .tn-content a.tn-date{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  transition: .3s;
  letter-spacing: 1px;
  
}

.top-news .tn-content a.tn-date i {
  margin-right: 5px;
}

.top-news .tn-content a.tn-date:hover {
  text-decoration: none;
}

.top-news .tn-content a.tn-title {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  transition: .3s;
  
}

.top-news .tn-left .tn-content a.tn-title {
  font-size: 35px;
  font-weight: 700;
}

.top-news .tn-content a.tn-title:hover {
  color: #E47A2E;
}

.yt-short-flex-con{
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  padding: 20px;
  justify-content: center;
  width: auto;
  background-image: linear-gradient(white, rgb(112, 104, 223));
}

.yt-s-content{
  display: flex;
  justify-content: center;
  /* border: 5px solid blue; */
  padding: 10px;
  margin: auto;
  position: relative;
  width: auto;
  align-items: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 16px;
}

.yt-s-content iframe{
  /* margin-left: 17%; */
  /* height: auto; */
  width: auto;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media screen and (max-width:800px){
  .yt-short-flex-con{
      flex-direction: column;
      flex-grow: 1;
      width: auto;
  }
}

.poli-id-fc{
  padding-top: 40px;
  width: 70%;
  /* border: 5px solid #45a049; */
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  padding-bottom: 30px;
}
.poli-id-fc h1{
  width: 100%;
  border: 5px solid rgb(112, 104, 223);
  padding-top: 20px;
  padding-bottom: 20px;
  /* color: rgb(112, 104, 223); */
  text-align: center;
  color: rgb(241, 240, 255);
  /* color: #E47A2E; */
  /* color: #ffa86f; */
  /* text-shadow: #E47A2E 3px 1px; */
  text-shadow: rgb(112, 104, 223) 3px 1px;
  background-color: #ffa565;
  border-radius: 10px;
}
.poli-id-fc section{
  padding-top: 20px;
  /* border: 6px solid #111111; */
}

.eco-id-fc{
  padding-top: 40px;
  width: 70%;
  /* border: 5px solid #45a049; */
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  padding-bottom: 30px;
}
.eco-id-fc h1{
  width: 100%;
  border: 5px solid rgb(112, 104, 223);
  padding-top: 20px;
  padding-bottom: 20px;
  /* color: rgb(112, 104, 223); */
  text-align: center;
  color: rgb(241, 240, 255);
  /* color: #E47A2E; */
  /* color: #ffa86f; */

  /* text-shadow: #E47A2E 3px 1px; */
  text-shadow: rgb(112, 104, 223) 3px 1px;
  background-color: #ffa565;
  border-radius: 10px;
}
.eco-id-fc section{
  padding-top: 20px;
  /* border: 6px solid #111111; */
}

.ent-id-fc{
  padding-top: 40px;
  width: 70%;
  /* border: 5px solid #45a049; */
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  padding-bottom: 30px;
}
.ent-id-fc h1{
  width: 100%;
  border: 5px solid rgb(112, 104, 223);
  padding-top: 20px;
  padding-bottom: 20px;
  /* color: rgb(112, 104, 223); */
  text-align: center;
  color: rgb(241, 240, 255);
  /* color: #E47A2E; */
  /* color: #ffa86f; */

  /* text-shadow: #E47A2E 3px 1px; */
  text-shadow: rgb(112, 104, 223) 3px 1px;
  background-color: #ffa565;
  border-radius: 10px;
}
.ent-id-fc section{
  padding-top: 20px;
  /* border: 6px solid #111111; */
}

.knl-id-fc{
  padding-top: 40px;
  width: 70%;
  /* border: 5px solid #45a049; */
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  padding-bottom: 30px;
}
.knl-id-fc h1{
  width: 100%;
  border: 5px solid rgb(112, 104, 223);
  padding-top: 20px;
  padding-bottom: 20px;
  /* color: rgb(112, 104, 223); */
  text-align: center;
  color: rgb(241, 240, 255);
  /* color: #E47A2E; */
  /* color: #ffa86f; */
  /* text-shadow: #E47A2E 3px 1px; */
  text-shadow: rgb(112, 104, 223) 3px 1px;
  background-color: #ffa565;
  border-radius: 10px;
}
.knl-id-fc section{
  padding-top: 20px;
  /* border: 6px solid #111111; */
}
/*---------- card container ------------------------------------------------------------------------*/
article {
  --img-scale: 1.001;
  --title-color: rgb(112, 104, 223);
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  /* font-family: "Bebas Neue", cursive; */
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: rgb(112, 104, 223);
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #E47A2E;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/********** privacy-container *******************************************************************************/
.head-term {
  position: relative;
  width: 100%;
  padding-top: 3%;
  padding-left: auto;
  text-align: center;
}
.head-term h1 {
  color: rgb(112, 104, 223);
}
.term {
  font-family: kanit;
  font-size: large;
  position: relative;
  width: 100%;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}
/********** Main Contact *********************************************************************************/
.social {
  font-size: larger;
}
.border-so i {
  padding-bottom: 15px;
  font-size: 200%;
}
.columns-2, .columns-3 {
  padding-left: 30px;
  padding-bottom: 15px;
}
.columns-1 {
  padding-left: 30px;
  padding-bottom: 0px;
}
.con-contact {
  margin: auto;
  width: 100%;
  flex: 1 0 0;
}
.columns-1 a img {
  width: 40%;
  margin-left: 10%;
  padding-top: 20px;
}
.columns-3 {
  margin-left: 10%;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

/********** Footer CSS ***********************************************************************************/

.footer {
  position: relative;
  padding: 60px 0 0 0;
  margin-top: 15px;
  background: #353535;
  flex: 0 0 auto;
}

@media (min-width: 992px) {
  .footer .container-fluid {
      max-width: 95%;
  }
}

.footer .footer-widget {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}

.footer .footer-widget h1 {
  color: #ffffff;
  margin-bottom: 18px; 
}

.footer .footer-widget .title {
  color: #ffffff;
  white-space: nowrap;
}

.footer .footer-widget p {
  color: #ffffff;
}

.footer .footer-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-widget ul li {
  margin-bottom: 12px; 
}

.footer .footer-widget ul li:last-child {
  margin-bottom: 0; 
}

.footer .footer-widget ul li a {
  color: #ffffff;
  white-space: nowrap;
  display: block;
  line-height: 23px;
}

.footer .footer-widget ul li a::before {
  content: '\f061';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
  padding-left: 10px; 
  color: #E47A2E;
  text-decoration: none;
}

.footer .contact-info p {
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 16px;
}

.footer .contact-info p i {
  color: #ffffff;
  margin-right: 5px;
}

.footer .social {
  position: relative;
  width: 100%;
}

.footer .social a {
  display: inline-block;
  margin: 10px 5px 0 0;
  width: 35px;
  height: 35px;
  padding: 2px 0;
  text-align: center;
  font-size: 18px;
  background: #353535;
  border: 1px solid #ffffff;
}

.footer .social a i {
  color: #ffffff;
}

.footer .social a:hover {
  background: #E47A2E;
  border: 1px solid #E47A2E;
}

.footer .newsletter {
  position: relative;
  width: 100%;
}

.footer .newsletter form {
  position: relative;
  width: 100%;
}

.footer .newsletter input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ffffff;
}

.footer .newsletter .btn {
  position: absolute;
  width: 80px;
  height: 40px;
  top: 0;
  right: 0;
  padding: 0 15px;
  border: none;
  background: #353535;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.footer .newsletter .btn:hover {
  background: #E47A2E;
}

.footer .newsletter input:focus,
.footer .newsletter .btn:focus {
  box-shadow: none;
}

/******** Footer Bottom CSS ******************************************************************************/
.footer-bottom {
  position: relative;
  padding: 25px 0;
  padding-left: 30%;
  background: #111111;
}

.footer-bottom .copyright {
  text-align: right;
}


.footer-bottom .copyright p{
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}

.footer-bottom .copyright p a{
  font-weight: auto;
}

.footer-bottom .copyright p a:hover{
  color: #ffffff;
}

@media (max-width: 1080px) {
  .footer-bottom .copyright{
    text-align: center; 
  } 
}

/******** Cookie Botton CSS ******************************************************************************/
.cookie-consent {
  position: fixed;
  bottom: 0;
  margin-left: 20%;
  width:auto;
  background: rgba(255, 255, 255, 0.9); /* สีขาวใส */
  color: #333; /* เปลี่ยนสีตัวอักษรเป็นสีดำหรือสีอื่นตามที่คุณต้องการ */
  padding: 10px;
  text-align: center;
  display: none;
  z-index: 9999; /* จัดให้มีความสูงในการแสดงผลที่สูงกว่า */
}

.cookie-consent-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* ความเฉื่อยสีดำโปร่งใส */
  z-index: 9999; /* จัดให้มีความสูงในการแสดงผลที่ต่ำกว่า Cookie Consent Box */
  display: none;
  pointer-events: none; /* ไม่สามารถคลิกหรือแอบแสดงผลที่อยู่ข้างหลัง */

}

.accept-cookie {
  background: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  
}

.accept-cookie:hover {
  background: #45a049;
}



/********************** Slide Show ************************************************************************************/

.slideshow-container {
  position: relative;
  max-width: 70%;
  margin: 25px auto; 
  background-color: #b1b7f3;
  
}

.tb-slide{
  width: 90%;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
  /* border: 10px solid black; */
  background-color: #b1b7f3;
  align-items: center;
  
}

.mySlides {
  display: none;
  /* เพิ่ม animation ในการแสดงผล */
  /* animation : animateleft 0.4s; */
  animation: fade 1s ease-in-out;
}

.w3-animate-left {
  position:relative;
  animation:animateleft 0.4s
}

.mySlides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}

@keyframes animateleft {
  from{
    left:-300px;opacity:0
  } 
  to{
    left:0;opacity:1
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Navigation buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #E47A2E;
}

/* Dots at the bottom */
.dot-container {
  text-align: center;
  padding-top: 20px;
}

.dot {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
}

/* Active dot */
.active {
  background-color: #717171;
}

.logoFNDWC{
  width: 20%;
  background-color: #b1b7f3;
}

.logoFNDWC img {
  width: 100%;
  /* padding-left: 5%; */
  filter: drop-shadow(8px 8px 10px gray);
  -webkit-filter: drop-shadow(8px 8px 10px gray);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

/************ forecast page *****************************************************************************/

.row-wg-fc-day{
  display: grid;
  /* border: 10px solid pink; */
  padding: 10px;
  align-items: center;
  /* background-color: #b1b7f3; */
  background-image: linear-gradient(white, #b1b7f3);
  
}
/* .forecast-daily iframe{
  background-color: #111111;
  width: 50;
  border-radius: 10px;
  border: 3px solid blue;

} */
/*-------------- forecast 7 days ---------------------------*/
.forecast7days {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  /* background-color: pink; */
  height: 355px;
  /* border: 3px solid red; */
}
.forecast7days .row iframe{
  /* border: 3px solid purple; */
  height: 350px;
  align-items: center;
  scroll-margin-inline: initial;
  justify-self: center;
}

.border-forecast{
  padding-right: auto;
  padding-left: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.border-forecast h1 {
  color: rgb(112, 104, 223);
}
@media (max-width: 1080px){
  .fix-con-7days{
    overflow-x: auto !important;
  }
}
.fix-con-7days{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* background: #656ba0; */
  background-image: linear-gradient(white, #b1b7f3);
  height: 360px;
  display: flex;
  /* border: 3px solid green; */
}

/*---------------- widget-forecast -----------------------------*/
.widget-forecast{
  /* padding-top: 20px; */
  background-color: white;
  align-items: center;
  margin: 0px;
}

.widget-forecast1 iframe{
  /* padding-left: 50px; */
  /* padding-right: 50px; */
  text-align: center;
  /* margin-right: auto; */
  width: 40%;
  background-color: pink;
  margin-left: 5%;
  border-radius: 16px;
}

.widget-forecast2 iframe{
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  
}

@media (max-width: 1080px){
  .widget-con{
    overflow-x: auto !important;
  }
}

.widget-con{
  background-color: #b1b7f3;
  padding-top: 30px;
  width: 100%;
  /* margin-left: 10%; */
  /* border: 2px solid red; */
  height: 530px;
}

.row-wg-fc{
  display: grid;
  /* border: 10px solid pink; */
  padding: 10px;
  align-items: center;
  /* padding-left: 400px; */
}

/*-------------- Warning announcement ----------------------------------*/
.wn-a{
  background-color: white;
  width: 100%;
  height: auto;
  border: 10px solid #fc8937;
  padding-bottom: 50px;
  border-radius: 16px;
}
.wn-a h1{
  padding-left: 100px; 
  padding-top: 20px; 
  color: rgb(112, 104, 223);
}
.grid-wn-a-con{
  display: grid;
  grid-template-columns: auto ;
}
.grid-wn-a-con :hover{
  background-color: #b1b7f3;
}
.grid-wn-a-item h4{
  padding-left: 70px; 
  padding-right: 70px; 
  padding-top: 30px;
  text-decoration: none;
}
.grid-wn-a-item h6{
  padding-left: 70px;
  padding-right: 70px;
  text-decoration: none;
}

/* ----------------- youtube forecast ------------------------------------------------------- */

.yt-fc-hl hr{
  border-radius: 5px;
  border: 4px solid #E47A2E;
  width: 80%;
  margin-left: 10%;
  
}
.yt-fc-hl h1{
  background-color: white;
  padding-top: 50px;
  color: rgb(112, 104, 223);
  width: 100%;
  /* border: 10px solid red; */
  text-align: center;
  justify-content: center;
}
.yt-fc-hl{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* border: 10px solid blue; */
  padding-top: 30px;
}
.yt-fc-flex-con{
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  justify-content: center;
  width: auto;
  background-image: linear-gradient(white,  rgb(138, 131, 230) ,#b1b7f3);
}
.yt-fc-content{
  display: flex;
  justify-content: center;
  /* border: 5px solid blue; */
  padding: 20px;
  /* margin: auto; */
  position: relative;
  width: 500px;
  align-items: center;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
}

.yt-fc-content iframe{
  /* margin-left: 17%; */
  /* height: auto; */
  /* width: auto; */
  overflow: hidden;
  position: relative;
  border-radius: 16px;
}

@media screen and (max-width:800px){
  .yt-fc-flex-con{
      flex-direction: column;
      flex-grow: 1;
      width: auto;
  }
}
/********************** reporter page **********************************************************************/
.flex-con-reporter{
  display: flex;
  padding-bottom: 100px;
  background-image: linear-gradient(#b1b7f3, white, white);
  width: 100%;
}
@media (max-width: 1000px){
  .flex-con-reporter{
      flex-direction: column;
  }
}
.ps-1 img{
  /* width: 370px; */
  width: 100%;
  height: 100%;
  filter: drop-shadow(8px 8px 10px gray);
  -webkit-filter: drop-shadow(8px 8px 10px gray);
  /* border: 2px solid white; */
  
}
.ps-1{
  /* border: 2px solid red; */
  text-align: center;
  width: 100%;
}
.ps-1 h3{
  padding-top: 20px;
  /* border: 3px solid pink; */
  text-align: center;
  color: rgb(112, 104, 223);
}
.ps-2 img{
  /* width: 490px; */
  width: 100%;
  height: 100%;
  filter: drop-shadow(8px 8px 10px gray);
  -webkit-filter: drop-shadow(8px 8px 10px gray);
  /* border: 2px solid white; */
}
.ps-2{
  /* border: 2px solid red; */
  text-align: center;
  width: 100%;
}
.ps-2 h3{
  padding-top: 20px;
  /* border: 3px solid pink; */
  text-align: center;
  color: rgb(112, 104, 223);
}
.ps-3 img{
  /* width: 490px; */
  width: 100%;
  height: 100%;
  filter: drop-shadow(8px 8px 10px gray);
  -webkit-filter: drop-shadow(8px 8px 10px gray);
  /* border: 2px solid white; */
}
.ps-3{
  /* border: 2px solid red; */
  text-align: center;
  width: 100%;
}
.ps-3 h3{
  padding-top: 20px;
  /* border: 3px solid pink; */
  text-align: center;
  color: rgb(112, 104, 223);
}
.ps-4 img{
  /* width: 490px; */
  width: 100%;
  height: 100%;
  filter: drop-shadow(8px 8px 10px gray);
  -webkit-filter: drop-shadow(8px 8px 10px gray);
  /* border: 2px solid white; */
}
.ps-4{
  /* border: 2px solid red; */
  text-align: center;
  width: 100%;
}
.ps-4 h3{
  padding-top: 20px;
  /* border: 3px solid pink; */
  text-align: center;
  color: rgb(112, 104, 223);
}

/******************* economy  page *****************************************************************************/
.top-news-ec {
  position: relative;
  width: 100%;
  padding: 30px 0 0 0;
  background-image: linear-gradient( #b1b7f3,white,white,white);
}

.top-news-ec .col-md-6 {
  margin-bottom: 30px;
  
}

.top-news-ec .tn-img {
  position: relative;
  overflow: hidden;
  
}

.top-news-ec .tn-img img {
  width: 100%;
}

.top-news-ec .tn-img:hover img {
  filter: drop-shadow(8px 8px 10px gray);
  -webkit-filter: drop-shadow(8px 8px 10px gray);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.top-news-ec .tn-content {
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0; 
  left: 0;
  padding: 15px 10px 15px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
  display: flex;
  align-items: flex-end;
  
}

.top-news-ec .tn-content a.tn-date{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  transition: .3s;
  letter-spacing: 1px;
  
}

.top-news-ec .tn-content a.tn-date i {
  margin-right: 5px;
}

.top-news-ec .tn-content a.tn-date:hover {
  text-decoration: none;
}

.top-news-ec .tn-content a.tn-title {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  transition: .3s;
  
}

.top-news-ec .tn-left .tn-content a.tn-title {
  font-size: 35px;
  font-weight: 700;
}

.top-news-ec .tn-content a.tn-title:hover {
  color: #E47A2E;
}

/************** login popup *************************************************************************************/
.popup{
  text-align: left;
  position: absolute;
  margin-top: 125%;
  margin-left: -100%;
  /* top: -150%;
  left: 50%; */
  opacity: 0;
  transform: translate(-50%,-50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .15);
  border-radius: 10px;
  z-index:-1;
  transition:top 0ms ease-in-out 200ms, 
            opacity 200ms ease-in-out 0ms,
            transform 200ms ease-in-out 0ms;
}
.popup.active{
  top: 50%;
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
  z-index:+1;
  transition: top 0ms ease-in-out 0ms, 
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}
.popup .close-btn{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 16px;
  height: 16px;
  background: #929292;
  color: white;
  text-align: center;
  line-height: 15px;
  border-radius: 7px;
  cursor: pointer;
}
.popup .close-btn:hover{
  background: #E47A2E;
}
/* .popup .close-btn.active{
  z-index:-1;
} */
.popup .form-login h2{
  text-align: center;
  color: rgb(112, 104, 223);
  margin: 10px 0px 20px;
  font-size: 25px;
}
.popup .form-login .form-element{
  margin: 15px 0px;
}
.popup .form-login .form-element label{
  font-size: 14px;
  color: #222;
}
.popup .form-login .form-element input[type="text"],
.popup .form-login .form-element input[type="password"]{
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.popup .form-login .form-element input[type="checkbox"]{
  margin-right: 5px;
}
.popup .form-login .form-element button{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  background: #E47A2E;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}

/*********************** politics page ********************************************************************/
.poli-fc{
  /* padding-top: 40px; */
  width: 70%;
  /* border: 2px solid #45a049; */
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  padding-bottom: 30px;
}
.poli-fc section{
  padding-top: 20px;
  /* border: 6px solid #111111; */
}

/*********************** economy page ********************************************************************/
.eco-fc{
  /* padding-top: 40px; */
  width: 70%;
  /* border: 2px solid #45a049; */
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  padding-bottom: 30px;
}
.eco-fc section{
  padding-top: 20px;
  /* border: 6px solid #111111; */
}

/*********************** entertainment page ********************************************************************/
.ent-fc{
  /* padding-top: 40px; */
  width: 70%;
  /* border: 2px solid #45a049; */
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  padding-bottom: 30px;
}
.ent-fc section{
  padding-top: 20px;
  /* border: 6px solid #111111; */
}

/*********************** knowledge page ********************************************************************/
.card-knl h1 {
	font-size: 3vmin;
	text-align: center;
	color: white;
  /* border: 2px solid pink; */
  width: 150px;
}
.card-knl p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #8a64e1;
	margin-bottom: 1.5rem;
  font-family: 'Kanit', sans-serif;
}

.card-knl .wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 75%;
	height: 25em;
	margin: 2rem auto;
	border: 8px solid;
	border-image: linear-gradient(-50deg, #E47A2E, #eba471, #eba471 , #E47A2E) 1;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.card-knl .overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	/* background: #9ea5ea; */
	background: rgb(112, 104, 223);
  transition: .4s ease-in-out;
	z-index: 1;
  /* border: 2px solid black; */
}
.card-knl .overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20vmin;
	height: 100%;
	padding: .5rem 0 0 .5rem;
	border: 3px solid;
	border-image: 
    	linear-gradient(
      	to bottom, 
      	#eba471 5%,
      	#9ea5ea 35% 65%,
      	#eba471 95%
    	) 0 0 0 100%;
	transition: .3s ease-in-out .2s;
	z-index: 1;
}
.card-knl .image-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 75vmin;
	height: 100%;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/ENSO_-_El_Ni%C3%B1o-th.svg/768px-ENSO_-_El_Ni%C3%B1o-th.svg.png");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
  background-color: rgb(202, 202, 202);
}

.card-knl .inset {
	max-width: 50%;
	margin: 0.25em 1em 1em 0;
	border-radius: 0.25em;
	float: left;
}

.card-knl .dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: .3s ease-in-out .3s;
}
.card-knl .dot {
	width: 14px;
	height: 14px;
	background: #8189ea;
	border: 1px solid indigo;
	border-radius: 50%;
	transition: .3s ease-in-out .3s;
}

.card-knl .text {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #fff;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
	overflow-y: scroll;
  font-family: 'Kanit', sans-serif;
}

.card-knl .wrap:hover .overlay
 {
	transform: translateX(-60vmin);
}
.card-knl .wrap:hover .image-content {
	width: 65vmin;
}
.card-knl .wrap:hover .overlay-content {
	border: none;
	transition-delay: .2s;
	transform: translateX(60vmin);
  color: #111111;
}
.card-knl .wrap:hover .dots {
	transform: translateX(1rem);
}
.card-knl .wrap:hover .dots .dot {
	background: white;
}


/* Animations and timing delays */
.card-knl .animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.card-knl .pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.card-knl .slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.card-knl .slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.card-knl .slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.card-knl .delay-1 {
  animation-delay: 0.3s;
}
.card-knl .delay-2 {
  animation-delay: 0.6s;
}
.card-knl .delay-3 {
  animation-delay: 0.9s;
}
.card-knl .delay-4 {
  animation-delay: 1.2s;
}
.card-knl .delay-5 {
  animation-delay: 1.5s;
}
.card-knl .delay-6 {
  animation-delay: 1.8s;
}
.card-knl .delay-7 {
  animation-delay: 2.1s;
}
.card-knl .delay-8 {
  animation-delay: 2.4s;
}